extends base

block content
   main.main
      section.section-dramas
         .dramas
            each drama in dramas
               .dramas__card
                  a(href=`/dramas/${drama.slug}`).card__link
                     .card
                        .card__avator
                           img( src=`img/posters/${drama.poster}` alt=`${drama.title}` ).card__img
                        .card__title= drama.title
                        .card__info
                           .card__genre Rom-Com
                           .card__rating 7.8
         .paginate
            ul.paginate__list
               li(class="paginate__item")
                  a(href="#" class="paginate__link paginate__link--prev") &vltri;
               li(class="paginate__item")
                  a(href="#" class="paginate__link") 1
               li(class="paginate__item")
                  a(href="#" class="paginate__link") 2
               li(class="paginate__item")
                  a(href="#" class="paginate__link") 3
               li(class="paginate__item")
                  a(href="#" class="paginate__link") 4
               li(class="paginate__item")
                  a(href="#" class="paginate__link") 5
               li(class="paginate__item")
                  a(href="#" class="paginate__link paginate__link--next") &vrtri;