extends base

block content
   main.main
      form(autocomplete="off").form.form-auth
         h2.form-heading Log in
         .form__group
            label(for="email" class="form__label") Email
            input( type="email" class="form__input" id="email")
         .form__group
            label(for="psw" class="form__label") Password
            input( type="password" class="form__input" id="psw" placeholder="*****************")
         .form__group
            .form__submit
               button.btn.btn-form__button--save submit
      .switch-ls 
         p(class="switch-ls__content") Don't have an account? &nbsp;
            a(href="/signup") Sign up here!

