:root {
  --bsh: 0 0.6rem 2rem rgba(0, 0, 0, 0.18);
  --color-primary: rgb(112, 234, 100);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: arial, serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 3rem 0;
  color: #444;
  background-image: linear-gradient(to bottom right, #9be15d 0%, #00e3ae 100%);
}

.primary-heading {
  color: #00e600;
  font-weight: 600;
  font-size: 3.5rem;
}

.title-bar {
  text-transform: uppercase;
  padding: 1rem 0;
}

.header {
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.header__logo-box {
  flex: 0 0 10%;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.header__logo-img {
  width: 8rem;
}
.header__search-box {
  flex: 0 0 40%;
  padding: 1rem 1.5rem 1rem 0;
  margin-right: 3rem;
}
.header__nav {
  margin-right: auto;
}
.header__user {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
.header__user-photoBox {
  padding-left: 1rem;
}
.header__user-picture {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.header__user-name {
  padding-left: 1.5rem;
  font-weight: 700;
}
.header__user::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #9be15d 0%, #00e3ae 100%);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.header__user:hover::before {
  opacity: 1;
}
.header__auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.main {
  border-radius: 5px;
  max-width: 65%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 3rem;
  padding: 4rem 3rem;
  box-shadow: var(--bsh);
}

.drama-description {
  flex: 3;
  margin-right: 7rem;
  padding: 0 1.5rem;
}
.drama-description__about {
  text-indent: 5rem;
  text-align: justify;
  line-height: 1.7;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}
.drama-description__about p:not(:last-child) {
  margin-bottom: 1.6rem;
}

.drama-images {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.drama-images__img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.drama-images__img:hover {
  transform: scale(1.03);
}

.section-dramas {
  padding: 2rem 4.5rem;
}

.section-details {
  padding: 2rem 4.5rem;
  display: flex;
  margin-bottom: 3.5rem;
}
.section-details__img {
  flex: 1;
  align-self: stretch;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
}
.section-details__drama {
  flex: 2;
  margin-left: 2rem;
}

.section-description {
  padding: 2rem 1.5rem;
  display: flex;
}

.section-cover {
  padding: 2rem 3rem;
}

.section-social {
  padding: 3.6rem 3rem;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0.1rem 0.2rem #ddd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-setting {
  padding: 2rem 0;
  margin-left: auto;
  flex: 0 0 60%;
  padding-left: 3rem;
}

.user-profile {
  display: flex;
}

.section-error {
  padding: 20rem;
  position: relative;
}

.social-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acc-setting {
  position: relative;
}

.psw-setting {
  position: relative;
  margin-top: 6.5rem;
}

.navbar {
  list-style: none;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.navbar__link,
.navbar__link:visited,
.navbar__link:link {
  text-decoration: none;
  color: #777;
  transition: all 0.3s;
  padding: 0.8rem 1.5rem;
}
.navbar__link:hover,
.navbar__link:visited:hover,
.navbar__link:link:hover {
  color: #70ea64;
  border-bottom: 2px solid #70ea64;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.drama-description__nav {
  margin-bottom: 3.5rem;
  list-style: none;
  display: flex;
}
.drama-description__nav-item {
  background-color: #eee;
  position: relative;
  flex: 1;
  text-align: center;
}
.drama-description__nav-item:not(:last-child) {
  border-right: 1px solid #ccc;
}
.drama-description__nav-link {
  position: relative;
}
.drama-description__nav-link:visited,
.drama-description__nav-link:link {
  display: block;
  text-decoration: none;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #777;
}
.drama-description__nav-link:visited span,
.drama-description__nav-link:link span {
  position: relative;
  z-index: 20;
}
.drama-description__nav-link:visited::before,
.drama-description__nav-link:link::before {
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #9be15d 0%, #00e3ae 100%);
  z-index: 10;
  opacity: 0;
}
.drama-description__nav-link:visited:hover::before,
.drama-description__nav-link:link:hover::before {
  opacity: 1;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.drama-description__nav-link:visited:active,
.drama-description__nav-link:link:active {
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.3);
  transform: translateY(3px);
}

.search__input {
  width: 100%;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 100px;
  outline: none;
  transition: all 0.2s;
  color: #222;
  font-weight: 600;
  background-color: rgba(225, 225, 225, 0.3);
  border-bottom: 3px solid transparent;
}
.search__input:focus {
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #00e600;
}
.search__input::placeholder {
  text-transform: uppercase;
  color: #888;
  font-weight: 600;
}

.btn {
  padding: 1.5rem 3rem;
  background-image: linear-gradient(to bottom right, #9be15d 0%, #00e3ae 100%);
  cursor: pointer;
  border: none;
  box-shadow: 0 0.2rem 0.5rem #ddd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  color: #fff;
  display: inline-block;
}
.btn:focus {
  outline: none;
}
.btn:active {
  outline: none;
  transform: translateY(3px);
}
.btn--login {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-image: linear-gradient(to bottom right, #9be15d 0%, #00e3ae 100%);
  cursor: pointer;
  margin-left: 0.5rem;
  color: #fff;
  transition: all 0.2s;
}
.btn--login:hover {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.3rem 0.5rem #ddd;
}
.btn--comment {
  padding: 1rem 2rem;
  margin-top: -1rem;
  position: absolute;
  right: 0;
}
.btn--logout {
  width: 150px;
  margin-top: 1rem;
}

.btn-form__button--save {
  position: absolute;
  right: 0;
}

.dramas {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3.5rem 3rem;
}
.dramas__card {
  width: 100%;
}

.card {
  width: 22rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
  transition: all 0.3s;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  backface-visibility: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__link {
  text-decoration: none;
  color: inherit;
}
.card__avator {
  width: 100%;
}
.card__img {
  width: 100%;
  height: 25rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  object-fit: cover;
}
.card__title {
  text-transform: capitalize;
  width: 100%;
  font-size: 1.4rem;
  color: #222;
  font-weight: 700;
  padding: 0.3rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__genre {
  font-size: 1.4rem;
  padding-left: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__rating {
  height: 100%;
  font-size: 1.8rem;
  background-color: #00e600;
  padding: 0.5rem;
  font-weight: 700;
  color: #fff;
  border-top-left-radius: 5px;
  margin-bottom: -5px;
}
.card:hover {
  box-shadow: var(--bsh);
  transform: scale(1.02) translateY(-3px);
  color: #00e600;
  border-bottom: 5px solid #00e600;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.paginate {
  margin-top: 4.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
}
.paginate__list {
  list-style: none;
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1.5rem;
}
.paginate__link,
.paginate__link:visited,
.paginate__link:link {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--color-primary);
  transition: all 0.3s;
  display: block;
  border-radius: 10%;
  position: relative;
  z-index: 10;
  background-color: #fff;
}
.paginate__link::before,
.paginate__link:visited::before,
.paginate__link:link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top right, #9be15d 0%, #00e3ae 100%);
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0;
  transition: all 0.3s;
}
.paginate__link:hover::before,
.paginate__link:visited:hover::before,
.paginate__link:link:hover::before {
  opacity: 1;
}

.info-box {
  padding: 1rem 2rem;
  backface-visibility: hidden;
}
.info-box__icon {
  width: 100%;
  height: 100%;
  fill: #00e600;
}
.info-box__title {
  text-align: center;
  margin-bottom: 2rem;
}
.info-box__body {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #fff;
  transition: all 0.4s;
  background-clip: text;
}
.info-box__body:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.info-box__body-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 15%;
}
.info-box__body-label {
  flex: 1;
  display: inline-block;
  color: currentColor;
}
.info-box__body-desc {
  flex: 2;
  margin-left: 10rem;
  color: currentColor;
}
.info-box__body:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  color: #00e600;
}

.social-acc {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social-acc:not(:last-child) {
  margin-right: 3.5rem;
}
.social-acc__icon {
  width: 3.4rem;
  height: 3.4rem;
}
.social-acc__icon--fb {
  fill: #00ff37;
}
.social-acc__label {
  height: 100%;
  color: #555;
  padding: 0 10rem;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.profile-cover {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-cover__photo {
  width: 30rem;
  height: 30rem;
  border-radius: 5%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.form {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__submit {
  text-align: center;
  padding: 1.5rem 1rem;
}
.form__label {
  text-transform: uppercase;
  padding: 0.5rem 0;
}
.form__input {
  font-size: inherit;
  padding: 1.5rem 1rem;
  border: none;
  background-color: rgba(225, 225, 225, 0.3);
  transition: all 0.3s;
  border-bottom: 0.5px solid transparent;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.form__input::placeholder {
  color: #ddd;
  font-weight: 600;
}
.form-setting {
  width: 100%;
  padding: 1.6rem 0;
}
.form-setting:not(:last-child) {
  margin-bottom: 5rem;
}
.form-auth {
  margin-top: 5rem;
  background-color: #fff;
  border: 3px solid green;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 3rem #ccc;
}
.form-heading {
  text-transform: uppercase;
  position: absolute;
  top: -3rem;
  left: 2.5rem;
  background-color: #fff;
  letter-spacing: 1.8px;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0 -0.5rem 0.5rem #ccc;
}

.switch-ls {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
}

.comment {
  width: 80%;
  display: flex;
}
.comment:not(:last-child) {
  margin-bottom: 3rem;
}
.comment__avator:link,
.comment__avator:visited,
.comment__avator:active {
  display: block;
  align-self: flex-end;
}
.comment__details {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.comment__ut {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.8rem;
}
.comment__author:link,
.comment__author:visited {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.comment__time {
  padding-left: 0.8rem;
  font-size: 1.5rem;
}
.comment__content {
  line-height: 1.5;
  padding: 0 0.8rem;
  color: #333;
  font-size: 1.35rem;
  margin-top: 0.5rem;
}
.comment__react {
  margin-top: 1rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}
.comment__react-icon {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  fill: #00e600;
}
.comment__react-count {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.comment__react-btn {
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.comment-box {
  width: 100%;
  margin-bottom: 7rem;
  position: relative;
}
.comment-input {
  padding: 1.6rem;
  color: inherit;
  font-family: inherit;
  resize: none;
}

.avatar {
  width: 4.5rem;
  border-radius: 5px;
}

.choose-file-btn {
  padding: 1rem 2.5rem;
  background-image: linear-gradient(to right bottom, #9be15d 0%, #00ccee 100%);
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2000;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

#photo {
  position: absolute;
  font-size: inherit;
  z-index: 1000;
  left: 99px;
  top: 0.8rem;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}
.error__status {
  text-transform: uppercase;
}
.error__msg {
  font-weight: 800;
  font-size: 3rem;
}
.error__auth {
  position: absolute;
  right: 3rem;
  top: 1.95rem;
  color: #ff9100;
}
.error__cmt {
  position: absolute;
  right: 3rem;
  color: #ff9100;
}
.error__updatePsw {
  position: absolute;
  top: 1rem;
  right: 0;
  color: #fff;
  background-color: #df3535;
  padding: 1rem 1.55rem;
}
.error__updateData {
  position: absolute;
  top: 1rem;
  right: 0;
  color: #fff;
  background-color: #df3535;
  padding: 1rem 1.55rem;
}
